/* Styles for home page of document */


body {
    font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", SunSans-Regular, sans-serif;
    font-size: 12px;
    width: 1500px;
    margin: 0 auto 0;
	background-color: white;
}

header{
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	border: 2px solid black;
	border-radius: 4px;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}

h1 {
    font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", SunSans-Regular, sans-serif;
    font-size: 1.75em;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 0.5em;
    color: #195383;
}

.searchBox{
	border-radius: 5px;
}

/* Table  */
th{
	text-align: left;	
	border-bottom: .1px solid black;
	
}

td{
	vertical-align: top;
	padding: .25em;
}

table{
	font-size: 12px;
	white-space: pre-line;
	width: 100% ;
	border-collapse: collapse;
	border-top: .1px solid black;
}


tr:nth-child(even){
	background-color: #EBEBEB;
}

/* The Modal (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 67%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  } 

.modal label{
    width: 150px;
    display: inline-block; /*inline elements are only as wide as need be, so necessary change*/
    margin-bottom: 1em;
}

.modal input[type=text]{
    width: 750px;
}

.modal textarea{    
    width: 750px;
    resize: none;
}

/* .modal input[type=submit]{
} */

.modal #inscription{
    height: 6em;
}

.modal #description{
    height: 12em;
}

/* readonly inputs in modal form */
input:read-only {
	background-color: lightgrey;
  }

button {
	border-top: 1px solid #ba4141;
	background: #a35151;
	background: -webkit-gradient(linear, left top, left bottom, from(#920000), to(#a35151));
	background: -webkit-linear-gradient(top, #920000, #a35151);
	background: -moz-linear-gradient(top, #920000, #a35151);
	background: -ms-linear-gradient(top, #920000, #a35151);
	background: -o-linear-gradient(top, #920000, #a35151);
	padding: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 13px;
	font-family: "MS Shell Dlg",Arial,Helvetica,Verdana,"Bitstream Vera Sans",SunSans-Regular,sans-serif;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
 }

 /*page buttons that are selected and disabled */
 button:disabled,
 button[disabled]{
	 color: black;
 }

 #resultsPerPage{
	 font-size: 14px;
 }