.page-select {
    
    &__btn {
        
    }

    &__top {
        margin-bottom: .9rem;
    }

    &__bottom {
        margin-top: .9rem;
        display: flex;
        justify-content: center;
    }
}