<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">    
    <link rel="stylesheet" href="styles/table.css"> 
    <link rel="shortcut icon" href="#">
    <title>Music Collections</title>
</head>
    <body>     
        <h1>Search</h1>
        <!--Form for searching database-->
        <form id="search">
            <!--Text box for performing search-->
            <input autofocus="autofocus" name="searchText" id="searchform" class="searchBox" size="60" maxlength="200" value="">
            <button id="submitSearch">Search</button>
            <br>
            <!--Select which database table to search-->
            <div id="tableSelect">  
                <input type="radio" name="table" value="collections" >
                Collections
                <input type="radio" name="table" value="sources" checked="checked">
                Sources
                <input type="radio" name="table" value="entries">
                Entries
            </div>
            <!--Div that displays fields that can be searched-->
            <div id="fieldSelect">
            </div>        
        </form>
        <br><br>
        <!--Div that displays results per page options-->
        <div id="resultsPerPage"></div>
        <!--Div that displays buttons for selecting result page number-->
        <div id="pageBtns"></div>
        <!--Div that displays buttons for selecting result page number-->
        <div id="resultsMsg"></div>
        <!--Table displaying search results-->
        <div id="searchResultsTable"></div>
        <!--Modal which displays form for editing table row-->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <form id="modalForm"></form>
            </div>          
        </div>
        <!--Div that displays buttons for selecting page number at bottom of page-->
        <div id="pageBtnsBot"></div>
        <script type="text/javascript" src='index.js'></script>        
    </body>
</html>