<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">    
    <link rel="stylesheet" href="styles/table.css"> 
    <link rel="stylesheet" href="styles/searchForm.css">  -->
    <link rel="stylesheet" href="styles/style-sass.css">
    <link rel="shortcut icon" href="#">
    <title>Sacred Music Inventory</title>
</head>
<body id="searchPageBody">
    <section class="section-navigation">
        <div class="navigation">
            <a href="/" class="navigation__link">Search</a>
            <a href="/guide" class="navigation__link">Guide</a>
            <a href="/about" class="navigation__link">About</a>
        </div>
    </section>    
    <!--Form for searching database-->
    <main>
        <section class="section-search-form">
            <form id="search-form">
                <h1>Search Inventory</h1>
                <!--Text box for performing search-->
                <b>Keyword(s):</b>
                <input autofocus="autofocus" name="searchText" id="search-form" class="form__input" size="60" maxlength="200" value="">
                <button id="submit-search">Search</button>
                <i id="advanced-search-toggle" class="down-arrow down-arrow--black"></i>
                <!--Select which database table to search-->
                <div id="table-select">  
                    <input type="radio" name="table" value="collections" >
                    Collections
                    <input type="radio" name="table" value="sources" checked="checked">
                    Sources
                    <input type="radio" name="table" value="entries">
                    Entries
                </div>
                <!--Div that displays fields that can be searched-->
                <div id="field-select"></div>        
                <div id="advanced-search-input"></div>
            </form>
        </section>
        <!--Div that displays results per page options-->
        <div id="results-per-page"></div>
        <!--Div that displays buttons for selecting result page number-->
        <div id="page-buttons"></div>
        <!--Div that displays buttons for selecting result page number-->
        <div id="results-message"></div>
        <!--Table displaying search results-->
        <div id="search-results"></div>
        <!--Modal which displays form for editing table row-->
        <div id="editor-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <form id="editor-modal-form"></form>
            </div>          
        </div>
        <!--Div that displays buttons for selecting page number at bottom of page-->
        <div id="page-buttons-bottom"></div>
    </main>
    <script type="module" src='index.js'></script>     
</body>
</html>